<nav class="topnav">
    <a routerLink="/home-component" routerLinkActive="active"><b>Home</b></a>
    <a routerLink="/checkout-component" routerLinkActive="active"><b>Checkout</b></a>
    <a routerLink="/complaint-component" routerLinkActive="active"><b>Complaint</b></a>
    <a routerLink="/signin-component" routerLinkActive="active" data-toggle="modal" data-target="#myModal"><b>Signin</b></a>
    <a routerLink="/register-component" routerLinkActive="active"><b>Register</b></a>
</nav>

<router-outlet></router-outlet>