<br>
<br>
<br>
  <div class="container">   
      <div class="row">
      <div class="card-deck">
      <div class="card" style="width:200px; height:300px">
          <img class="card-img-top" src="../../assets/frankie.jpg" alt="Card image cap" >
                             <div class="card-body">
                      <h5 class="text-center ">Frankie</h5>
                      <p> Frankie is our Indian flatbread grilled and stuffed with a variety of delicious fillings and seasoned to suit your taste.<br><h6>Price : Rs 45</h6></p>
                      <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Qty
                              </button>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  
                                <a class="dropdown-item"  >1</a>
                                <a class="dropdown-item"  >2</a>
                                <a class="dropdown-item" >3</a>
                                <a class="dropdown-item" >4</a>
                                <a class="dropdown-item" >5</a>
                                <a class="dropdown-item" >6</a>
                                <a class="dropdown-item" >7</a>
                                
                              </div>
                            </div>    

                            
                          
                  </div>
              <div class="card-footer text-right">
                      
                          
                              <button class="btn btn-info">Add item </button>
                              
                          
                          
                      
              </div>
      </div>
      <div class="card" style="width: 300px">
          <img class="card-img-top" src="../../assets/puri.jpg" alt="Card image cap">
              <div class="card-body">
                  <h5 class="text-center">Puri</h5>
                  <p>Poori is a crispy, golden deep-fried bread that can be served with any dish, whether vegetarian or not, and your favorite pickle.<br><h6>Price : Rs 35</h6></p>
              </div>
              <div class="card-footer text-right">
                      
                              <button class="btn btn-info">Add item </button>
                          
              </div>
      </div>
      <div class="card" style="width:300px">
          <img class="card-img-top" src="../../assets/sambar.jpg" alt="Card image cap">
              <div class="card-body">
                      <h5 class="text-center">Sambar Rice</h5>
                      <p>sambar rice or Sambar Sadam in Tamil language, this main dish is a famous South Indian recipe .<br><h6>Price : Rs 40</h6></p>
              </div>
              <div class="card-footer text-right">
                  <button class="btn btn-info">Add item </button>
              </div>
      </div>
      </div>
      </div>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">   
  <div class="row">
  <div class="card-deck">
  <div class="card" style="width:200px height:300px">
      <img class="card-img-top" src="../../assets/omelette.jpg" alt="Card image cap">
                         <div class="card-body">
                  <h5 class="text-center ">Bread Omellette</h5>
                  <p>Bread omelet is so fantastic food that you can have it at any time of the day.<br><h6>Price : Rs 25</h6></p>
                  
              </div>
          <div class="card-footer text-right">
                  

                          <button class="btn btn-info">Add item </button>
                      
          </div>
  </div>
  <div class="card" style="width: 300px">
      <img class="card-img-top" src="../../assets/manchurian.jpg" alt="Card image cap">
          <div class="card-body">
              <h5 class="text-center">Manchurian</h5>
              <p>Gobi Manchurian is a Popular Indian cuisine fried cauliflower food item.<br><h6>Price : Rs 35</h6></p>
          </div>
          <div class="card-footer text-right">
                  
                          <button class="btn btn-info">Add item </button>
                      
          </div>
  </div>
  <div class="card" style="width:300px">
      <img class="card-img-top" src="../../assets/salad.jpg" alt="Card image cap">
          <div class="card-body">
                  <h5 class="text-center">Fruit Salad</h5>
                  <p>Fruit salad is a dish consisting of various kinds of fruit served in a liquid, either their own juices or a syrup.<br><h6>Price : Rs 35</h6></p>
          </div>
          <div class="card-footer text-right">
              <button class="btn btn-info">Add item </button>
          </div>
  </div>
  </div>
  </div>
        